<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Reforestacion
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
      <img src="assets/reforestacion.jpg">
      <ion-card-header>
       <ion-card-title>
          <h1 style = "text-align: center; font-size: 19px;">MAS OXIGENO PARA EL PLANETA</h1></ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <h1 style = "text-align: justify; font-size: 15px;">
       Nuestro grupo de Voluntariado se reune Sabados y Domingos en puntos especificos para ir a plantar arboles en destinos adecuados, los siguientes calendarios muestran con una checkmark los dias donde aun hay espacio para ser voluntario.
          </h1>
      </ion-card-content>
    </ion-card>
  
  <ion-text color="light">
  <h1 style = "text-align: center; font-size: 2px;">¡</h1>
  </ion-text>

  <ion-card>
      <img src="assets/octubre.png">
  </ion-card>

  <ion-card>
      <img src="assets/noviembre.png">
  </ion-card>

  <ion-card>
      <img src="assets/diciembre.png">
  </ion-card>

  <ion-text color="light">
      <h1 style = "text-align: center; font-size: 30px;">¡</h1>
    </ion-text>

  <ion-text color="dark">
      <h5 style = "text-align: center; font-size: 5 px;">SOLICITUD PARA ASISTIR A EVENTO DE REFORESTACION</h5>
</ion-text>

<ion-text color="light">
    <h1 style = "text-align: center; font-size: 4px;">¡</h1>
    </ion-text>

  <ion-card>

<ion-item>
  <ion-text>Nombre(s):</ion-text>
  <ion-label position="floating"Nombres></ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
    <ion-text>Apellidos:</ion-text>
    <ion-label position="floating"Apellidos></ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
      <ion-text>Correo:</ion-text>
      <ion-label position="floating"Correo></ion-label>
      <ion-input></ion-input>
    </ion-item>

  </ion-card>

  <ion-text color="light">
      <h3 style = "text-align: center; font-size: 10px;">¡</h3>
    </ion-text>

  <div class="centrado">
      <div class="divButton">
       <ion-button shape="round" size="large" type="submit">Entrar</ion-button>
     </div>
     </div>

     <ion-text color="light">
        <h1 style = "text-align: center; font-size: 10px;">¡</h1>
      </ion-text>
  
  </ion-content>
