<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Donaciones
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
   
      <ion-card>
        <img src="assets/donaciones.jpg">
        <ion-card-header>
          <ion-card-title>
            <h1 style = "text-align: center; font-size: 19px;">
                UNA AYUDA PARA EL PLANETA
              </h1>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <h1 style = "text-align: justify; font-size: 15px;">
                  En nuestra comunidad las donaciones de tipo monetario son dirigidas especificamente para la compra de arboles que seran destinados a plantatse, ya que la ayuda es voluntaria, el unico gasto de por medio son los transportes del voluntariado y la compra de los arboles.
                </h1>
          </ion-card-content>
      </ion-card>

      <ion-text color="light">
          <h3 style = "text-align: center; font-size: 10px;">¡</h3>
        </ion-text>

      <h1 style = "text-align: center; font-size: 19px;">
          SI DESEAS DONAR LLENA EL SIGUIENTE FORMULARIO (SOLO VALIDO TARJETA DE CREDITO/DEBITO):
        </h1>
  
        <ion-text color="light">
            <h3 style = "text-align: center; font-size: 10px;">¡</h3>
          </ion-text>
  
      <ion-card>

          <ion-item>
            <ion-text>Nombre(s):*</ion-text>
            <ion-label position="floating"Nombres></ion-label>
            <ion-input></ion-input>
          </ion-item>
          
          <ion-item>
              <ion-text>Apellidos:*</ion-text>
              <ion-label position="floating"Apellidos></ion-label>
              <ion-input></ion-input>
            </ion-item>
          
            <ion-item>
                <ion-text>Telefono (10 digitos):*</ion-text>
                <ion-label position="floating"Correo></ion-label>
                <ion-input></ion-input>
              </ion-item>

              <ion-item>
                  <ion-text>Correo:*</ion-text>
                  <ion-label position="floating"Correo></ion-label>
                  <ion-input></ion-input>
                </ion-item>

                <ion-item>
                    <ion-text>Cantidad a donar ($MXN):*</ion-text>
                    <ion-label position="floating"Correo></ion-label>
                    <ion-input></ion-input>
                  </ion-item>

                  <ion-item>
                      <ion-text>Numero de cuenta (16 digitos):*</ion-text>
                      <ion-label position="floating"Correo></ion-label>
                      <ion-input></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-text>MM/YY:*</ion-text>
                        <ion-label position="floating"Correo></ion-label>
                        <ion-input></ion-input>
                      </ion-item>

                      <ion-item>
                          <ion-text>CVV:*</ion-text>
                          <ion-label position="floating"Correo></ion-label>
                          <ion-input></ion-input>
                        </ion-item>

                <ion-text color="light">
                    <h3 style = "text-align: center; font-size: 10px;">¡</h3>
                  </ion-text>

                <div class="centrado">
                    <div class="divButton">
                     <ion-button shape="round" size="large" type="submit">DONAR</ion-button>
                   </div>
                   </div>
              
                   <ion-text color="light">
                      <h1 style = "text-align: center; font-size: 10px;">¡</h1>
                    </ion-text>
            </ion-card>
  </ion-content>
