<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Productos Eco-Friendly
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
      <img src="assets/bio.png">
      <ion-card-header>
       <ion-card-title>
          <h1 style = "text-align: center; font-size: 19px;">FOMENTA EL USO DE BIODEGRADABLES </h1></ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <h1 style = "text-align: justify; font-size: 15px;">
       Como seres humanos es comun hacer uso de productos desechables como cubiertos, toallitas humedas, bolsas para el super etc. Pero jamas consideramos que el uso de estos productos es de aproximadamente 30-60 min. pero su tiempo de vida puede ser hasta de 200 años en el planeta, algo que no beneficia al cuidado del medio ambiente. Es por eso que en este apartado encontraras tiendas online y marcas de productos amigables con el medio ambiente y biodegradables ademas de productos personales sin empaques o plasticos para evitar la generacion de mas basura.
          </h1>
      </ion-card-content>
    </ion-card>
  
  <ion-text color="light">
  <h3 style = "text-align: center; font-size: 10px;">¡</h3>
  </ion-text>

  <ion-card>
      <img src="assets/bigrin.jpg">
      <ion-card-header>
       <ion-card-title>
          <h1 style = "text-align: center; font-size: 19px;">BIGRIN ECO TIENDA </h1></ion-card-title>
      </ion-card-header>
      <div class="centrado">
          <div class="divButton">
           <ion-button shape="round" size="large" type="submit" OnClick="//https://www.facebook.com/Bi-Grin-Ecotienda-399802160865399/.asp">IR A TIENDA</ion-button>
         </div>
      </div>
      <ion-text color="light">
          <h3 style = "text-align: center; font-size: 5px;">¡</h3>
          </ion-text>
  </ion-card>

  <ion-text color="light">
      <h3 style = "text-align: center; font-size: 10px;">¡</h3>
      </ion-text>

  <ion-card>
      <img src="assets/melaleuca.jpg">
      <ion-card-header>
       <ion-card-title>
          <h1 style = "text-align: center; font-size: 19px;">MELALEUCA ORGANIC PRODUCTS </h1></ion-card-title>
      </ion-card-header> <div class="centrado">
          <div class="divButton">
           <ion-button shape="round" size="large" type="submit" OnClick="//https://www.facebook.com/Bi-Grin-Ecotienda-399802160865399/.asp">IR A TIENDA</ion-button>
         </div>
      </div>
      <ion-text color="light">
          <h3 style = "text-align: center; font-size: 5px;">¡</h3>
          </ion-text>
  </ion-card>

  <ion-text color="light">
      <h3 style = "text-align: center; font-size: 5px;">¡</h3>
      </ion-text>

  <ion-card>
      <img src="assets/eco.png">
      <ion-card-header>
       <ion-card-title>
          <h1 style = "text-align: center; font-size: 19px;"> ECO TIENDA NATURAL </h1></ion-card-title>
      </ion-card-header>
      <div class="centrado">
          <div class="divButton">
           <ion-button shape="round" size="large" href="https://www.facebook.com/Bi-Grin-Ecotienda-399802160865399/">IR A TIENDA</ion-button>
         </div>
      </div>
      <ion-text color="light">
          <h3 style = "text-align: center; font-size: 5px;">¡</h3>
          </ion-text>
  </ion-card>

  </ion-content>
