<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-text color="primary">
        <h1 style = "text-align: center; font-size: 30px;">¡BIENVENIDO A</h1>
      </ion-text>

      
    <ion-text color="primary">
        <h1 style = "text-align: center; font-size: 30px;">ECO HELP!</h1>
      </ion-text>

      
    <ion-text color="light">
        <h1 style = "text-align: center; font-size: 10px;">¡</h1>
      </ion-text>

    <ion-card>
        <img src="assets/planeta.jpg">
        <ion-card-header>
          <ion-card-title><h1 style = "text-align: center; font-size: 19px;">¿QUIENES SOMOS?</h1></ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <h1 style = "text-align: justify; font-size: 15px;">ECO HELP, es una fundacion de estudiantes preocupados por el medio ambiente, que invita a la comunidad a participar en distintos eventos y/o actividades que contribuyen hacia el cuidado del medio ambiente, promueven el reciclaje asi como la reforestacion, combaten cualquier tipo de daño permanente hacia nuestro ecosistema.</h1>
        </ion-card-content>
      </ion-card>

      <ion-text color="light">
          <h1 style = "text-align: center; font-size: 10px;">¡</h1>
        </ion-text>
      
      <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Facultad de Ciencias Fisico Matematicas,
          Ciuidad Universitaria, San Nicolas de los Garza </ion-label>
        </ion-item>
      
        <ion-card-content>
          CENTRO DE RECICLAJE
        </ion-card-content>
      </ion-card>
    </ion-content>   

